@import url(./footer.css);
@import url(./portfolio.css);
@import url(./skills.css);
@import url(./about.css);
@import url(./home.css);
@import url(./header.css);

@font-face {
    font-family:'Gilroy';
    src:
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family:'Gilroy-Bold';
    src:
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* для карточек аэтем сделать видс 166px для страс видс 100%
картинку для программс не оборавчиватьв див 
сделать для программся картинок дисплпей блок

серый фон должен быть на ширине контейнера 
перед закрывающим 

порфтфолио кратнки див эксэплес убрать макс видс
убрать див экспэпл бокс
подпись под картинкой сделать марджин сделать под картинкой
все картинки в портфолил дисплей блок


контакты от последниего подписи убрать мардин топ и мардин боттон

для конпоки сенд мессэдж ссылока и атрит мэйл ту

сдлеать зону для бургер меню побольше
и чтобы крестик не уходил в блок
эллменты в попап раздвигаем 

улучить 

разбить ссс на файлио 


*/
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
  color: #070707;
  font-size: 18px;
  line-height: 22px;
}

h2 {
  font-family: 'Gilroy-Bold';
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}



