.menu {
  display: block;
  width: 320px;
  height: 100%;
  background-color: #ccc;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform .3s ease-in;
}

.menu.active {
  transform: translateX(0);
}

.menu .container {
  display: block;
  width: 100%;
  height: 100%;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* burger */

.menu .menu-burger__header {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background: #333;
  position: absolute;
  left: calc(100% + 10px);
  top: 10px;
  cursor: pointer;
}

/* burger | open */

.menu .menu-burger__header::before,
.menu .menu-burger__header > span,
.menu .menu-burger__header::after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: .3s;
  transition-timing-function: ease;
}

.menu .menu-burger__header::before {
  top: calc(50% - 8px);
  transform-origin:
  transition-property: top, transform;
}

.menu .menu-burger__header > span {
  top: 50%;
  transition-property: opacity;
}

.menu .menu-burger__header::after {
  top: calc(50% + 8px);
  transition-property: top, transform;
}

/* burger active | close */

.menu.active .menu-burger__header::before {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu.active .menu-burger__header > span {
  opacity: 0;
}

.menu.active .menu-burger__header::after {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* menu list */

.menu .topmenu {
  display: block;
  width: 100%;
  max-height: 100%;
  overflow: hidden auto;
  padding: 10px 20px;
  box-sizing: border-box;
}

.menu .topmenu a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.menu .topmenu > li:not(:last-child) {
  margin-bottom: 1em;
}

.menu .topmenu > li > a {
  font-weight: bold;
}

/* submenu list */

.menu .topmenu .submenu {
  display: block;
  padding-left: 1em;
  margin-top: .5em;
}

.menu .topmenu .submenu > li:not(:last-child) {
  margin-bottom: .5em;
}

.menu .topmenu .submenu li:hover {
  color: orangered;
}